<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <property name="LOG_PATTERN"
              value="%d{dd-MM-yyyy HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"/>

    <appender name="ROLLING_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <!-- Active Log File -->
        <file>logs/application.log</file>

        <!-- Rolling Policy -->
        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">

            <!-- Rolled File Pattern -->
            <fileNamePattern>
                logs/application-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>

            <!-- Max File Size -->
            <maxFileSize>10MB</maxFileSize>

            <!-- Keep 30 Days -->
            <maxHistory>30</maxHistory>

            <!-- Optional Total Size -->
            <totalSizeCap>1GB</totalSizeCap>

        </rollingPolicy>

        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>

    </appender>

    <root level="INFO">
        <appender-ref ref="ROLLING_FILE"/>
    </root>

</configuration>